.banner{
    width: 100%;
    height: 500px;
    background-image: url('../../public/Group\ 25.png');
    background-size: cover;
    overflow: hidden;
}

.bannerGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
}

.bannerHeading{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    /* padding: 0 30px; */
    text-align: left;
    margin: auto;
    width: 100%;
}
.bannerHeading h1{
    margin: 10px 0px 30px 0px;
    font-size: 2.3em;
    line-height: 3rem;

}
.bannerHeading h3{
    margin: 0px;
    text-align: left !important;   
     /* margin-left: -147px;   */
     font-weight: 200;
     font-size: 1.75rem;
}

.carousel .control-prev.control-arrow:before {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
}

.carousel .control-next.control-arrow:before {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
}

.carousel.carousel-slider .control-arrow {
    top: 0;
    color: #fff;
    font-size: 26px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    bottom: 0;
    margin-top: 0;
    padding: 5px;
}


@media (max-width: 970px) {
    .bannerHeading{
        margin-left: 40px;
    }
}

@media (max-width: 767px) {
    .bannerHeading{
        margin: 45px;
        width: auto;
    }
    .bannerGrid{
        display: grid;
        grid-template-columns: 1fr;
        height: 500px;
    }
    .bannerImg{
        display: none;
    }
}
