.beClient {
    background: #F4F6FD;
    padding: 10px;
    margin: auto;
    margin-bottom: 40px;
}

.messageUs {
    background: #fff;
    padding: 10px;
    padding-bottom: 0;
    margin: auto;
    margin-bottom: 40px;

}

.contactGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.contactDetail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.contactMap {
    width: 100%;
    overflow: hidden;
}





@media (max-width: 767px) {
    .contactGrid {
        grid-template-columns: 1fr !important;
    }

    .contactDetail {
        grid-template-columns: 1fr !important;
        justify-items: center;

    }
}

@media (max-width: 970px) {
    .contactDetail {
        grid-template-columns: 1fr 1fr;
    }
}