.jdWrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 30px;
    margin: 40px auto;
}

.jobHeading {
    font-weight: 600;
    font-size: 1.6rem;
}



.jobDesc {
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.9rem;
    color: #070707;
    margin-top: 20px;
}


.applyNow {
    padding: 20px 70px;
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    position: sticky;
    top: 0;
    height: 420px;
}

.jobShare {
    display: flex;
    gap: 10px;
    align-items: center;
}


/* @media (max-width: 970px) {} */

@media (max-width: 767px) {
    .applyNow {
        padding: 0px;
        margin: 0px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        float: right;
        position: sticky;
        top: 0;
        height: auto;
    }
    
    .jdWrap {
        padding: 10px;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
}