.history{
    margin: 40px 2px;
}
.ourStory{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 0;
}

.year{
    font-size: 4.5rem;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    color: #e1e1e1;
    margin-bottom: 15px;
}

.year:hover{
    color: #14113A;
}

.storyContent{
    background-color: #14113A;
    color: white;
    height: 397px;
    line-height: 1.4rem;
    padding: 20px;
    overflow: scroll;
}

.storyContent::-webkit-scrollbar { 
    display: none; 
}

.storyContent h2{
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 20px;
}

.aboutImg {
    width: 100%;
    height: 100%;
    position: relative;
  }
.aboutImg .image {
    width: 100%;
    height: 100%;
    position: relative !important;
    object-fit: cover;
}


@media (max-width: 767px) {
    .ourStory{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        gap: 20px;
        margin: 0px 0;
    }

    .year {
        margin-top: 30px;
    }
}