.teamContainer {
    background-color: #F4F6FD;
    max-width: 100%;
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.faceCardContainer{
    width: 1200px;
    display: grid;
    gap: 10px;
    margin: 0px;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1250px)  {
    .faceCardContainer{
        width: 950px;
    }
}

@media (max-width: 970px) {
    .teamContainer{
        width: auto;
    }
    .faceCardContainer{
        width: auto;
    }
}

@media (max-width: 847px) {
    .teamContainer{
        width: auto;
    }
    .faceCardContainer{
        grid-template-columns: 1fr;
    }

}