.FooterContainer {
    max-height: 100%;
    background: #14113A;
    max-width: 100%;
    font-size: 1rem;
    font-weight: 300;
    background-position: center;
    background-image: url('../../public/Group\ 22.png');
    background-size: cover;
    
}

.footerLogo{
    width: 200px;
}

.goTop {
    position: absolute;
    top: -25px;
    background: #fff;
    border: 4px solid #4038B0;
    border-radius: 50%;
    height: 57px;
    width: 57px;
    cursor: pointer;
}

.topIcon {
    position: absolute;
    top: 10px;
    left: 10px;
}
.About {
    color: #fff;
}
.FooterWrap {
    max-width: 1200px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    justify-items: center;
    margin: auto;
    max-width: 1200px;
    padding:100px 15px;
    line-height: 1.4em;
}
.FooterWrap h4 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
}
.FooterMenu {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: stretch;
}

.FooterMenu p {
    color: #fff;
    font-size: 1.3em;
    margin: 0;
}

.FooterMenu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0px;
    color: #fff;
    margin: 0;;
}

.FooterMenu li{
    list-style: none;
}

.FooterMenu a{
    color: #fff;

}

.Contact {
    display: flex;
    flex-direction: column;
    position: relative;

}

.Contact p{
    color: #fff;
    margin-left: 30px;
    display: grid;
    align-items: center;
}

.Contact p span {
    position: absolute;
    left: -5px;
    font-size: 1.6rem;
}

.copyrightText {
    color: #fff;
    width: 100%;
    text-align: center;
    position: relative;
}

.copyrightText::before{
    position: absolute;
    content: '';
    height: 0.07rem;
    background-color: #44416e;
    width: 100%;
    left: 0;
    bottom: 35px;
}

.Tel a, .Emails a{
    color:white;
}

.copyrightText p{
    margin: 0 !important;
}

@media (max-width: 729px) {
    .FooterWrap {
        grid-template-columns: repeat(1, 1fr);
        display: grid;
        padding: 20px;
        justify-items: start;
        grid-gap: 25px;
        }
    .goTop {
            position: absolute;
            top: -25px;
            background: #fff;
            border: 4px solid #4038B0;
            border-radius: 50%;
            height: 57px;
            width: 57px;
            cursor: pointer;
            right: 175px;
        }
}