.serviceCard {
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
    cursor: pointer;
    margin: 0 10px;
}
.scWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    position: relative;
}

.Openings {
    position: absolute;
    top: -90px;
    left: 72px;
    transform: translateX(-50%);
    color: #F0F2FF;
    font-size: 10em;
    line-height: 1.45;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
    transition: all 0.3s;
}

.scIcon {
    margin-bottom: 35px;
    padding: 15px !important;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
}


.scIcon::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    background-image: url('../../../public/spindots.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* top: -5px;
    left: -5px; */

}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


.caption {
    font-size: 1em;
}

.scName {
    font-size: 1.2rem;
    line-height: 35px;
    text-align: center;
    color: #322B89;
    font-weight: 600;
    margin-bottom: 20px;
}

.scInfo {
    font-weight: 300;
    font-size: 1.2em;
    line-height: 30px;
    text-align: center;
    color: #000000;
    /* min-height: 160px; */
    margin-bottom: 0;
}

.scReadmore {
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.scReadmore p{
    margin: 0;
    margin-top: -3px;
}




.serviceCard:hover {
    background: #14113A;
    background-image: url('../../../public/blur_3.png');
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    background-size: cover;
}

.serviceCard:hover .Openings {
    color: #221E57;
}

.scReadmore span {
    transition: all 0.3s;
}

.serviceCard:hover .scReadmore span {
    transform: translateX(10px);
}

.serviceCard:hover .caption, .serviceCard:hover .scName, .serviceCard:hover .scInfo p, .serviceCard:hover .scReadmore {
    color: #fff !important;
}

.serviceCard:hover .scIcon::before {
    transition: all 0.s cubic-bezier(0.98, 0.57, 1, 1) 0s;
    -webkit-animation: rotating 5s linear infinite;
    -moz-animation: rotating 5s linear infinite;
    -ms-animation: rotating 5s linear infinite;
    -o-animation: rotating 5s linear infinite;
    animation: rotating 5s linear infinite;
    filter: brightness(0) invert(1);

}

@media (max-width: 767px) {

    .serviceCard {
        margin: 0;
    }
    
}