.whyUs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.teamContainer {
    background-color: #F4F6FD;
    max-width: 100%;
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.teamMembers1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
}
.teamMembers2 {
    display: grid;
    max-width: 100%;
    justify-content: center;
    gap: 10px;
    grid-template-columns: repeat(4, auto);
    margin-bottom: 20px;
}

.faceCardContainer{
    display: grid;
    gap: 10px;
    /* padding: 0px 100px; */
    grid-template-columns: repeat(3,1fr);;
}

@media (max-width: 1250px)  {
    .faceCardContainer{
        width: 950px;
    }
}

@media (max-width: 970px) {
    .teamContainer{
        width: auto;
    }
    .faceCardContainer{
        width: auto;
    }
}

@media (max-width: 847px) {
    .teamContainer{
        width: auto;
    }
    .faceCardContainer{
        grid-template-columns: 1fr;
    }

}


@media (max-width: 970px) {
    .whyUs {
        grid-template-columns: repeat(2, 1fr);
    }
    .teamMembers2 {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 767px) {
    .whyUs {
        grid-template-columns: repeat(1, 1fr);
    }
    .teamMembers2 {
        grid-template-columns: repeat(1, auto);
    }
}
