html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.9rem;
  font-size: 1rem;
  font-weight: 300;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
font-weight: 600;
  vertical-align: baseline;
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style: decimal;
}

p{
  margin-top: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}


/* Custom carousel CSS Starts*/

.container-carousel {
  max-width: 1330px;
  margin: auto;
}

.container-carousel-sml {
  width: 600px;
  margin: auto;
  margin: 30px auto;
}

button.rec.rec-arrow {
  background-color: #D1CDFF;
    color: white;
    box-shadow: none;
    outline: none !important;
    font-size: 20px;
    min-width: 30px;
    height: 30px;
    width: 30px;
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-around;
    align-items: center;
}

button.rec.rec-arrow:hover {
  background-color: #4038B0;
  color: white;
  box-shadow: none;

  outline: none !important;
}

button.rec.rec-carousel-item:focus {
  outline: none !important;
  background: #4038B0 !important;
  box-shadow: none;
}

.rec.rec-dot {
  width: 14px !important;
  border-radius: 6px !important;
  height: 5px !important;
  margin: 0 4px !important;
  border: none;
  background: #D5D6F9;
  box-shadow: none;
}

.rec.rec-dot:hover {
  box-shadow: none;
}
.rec.rec-dot_active {
  box-shadow: none;
  border-radius: 6px !important;
  height: 5px !important;
  width: 24px !important;
  background: #5D5AEA;
  border: none;
}

.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
  margin: 0px 7px 2px 5px !important;
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  content: "";
}

/* Custom carousel CSS Ends*/


.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 0;
}

.btn-white {
  background-color: white;
  width: 160px;
  display: flex;
  justify-items: center;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border: 2px solid #fff;
  color: black;
  transition: 0.3s;
  height: 51px;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  flex-direction: column;
  flex-flow: column;
  list-style: none;
}


.carousel .control-prev.control-arrow:before {
  border: solid #3C35A0 !important; 
  border-width: 0 3px 3px 0 !important;
  display: inline-block;
  padding: 6px;
}


.carousel .control-next.control-arrow:before {
  border: solid #3C35A0 !important; 
  border-width: 0 3px 3px 0 !important;
  display: inline-block;
  padding: 6px;
}


.carousel.carousel-slider .control-arrow {
  top: 40% !important;
  color: #fff;
  font-size: 20px !important;
  bottom: 0;
  margin-top: 0;
  margin: 0 20px;
  padding: 5px;
  height: fit-content !important;
  transform: rotate(-45deg);
}

.control-arrow.control-next{
-webkit-transform: rotate(-45deg);
}

.control-arrow.control-prev{
  -webkit-transform: rotate(135deg) !important; 
  }

  .carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    filter: none !important;
    opacity: 1 !important;
    position: absolute;
    z-index: 2;
    top: 20px;
    background: #FDFDFD !important;
    border: 0;
    font-size: 32px;
    border-radius: 100%;
    cursor: pointer;
}

.btn-white span {
  margin-top: 4px;
  font-size: 20px;
  transition: all 0.19s ease-out;

}

.btn-white:hover {
  color: black;
}

.btn-white:hover span {
  transform: translateX(7px);
}

.ourValueTabNew:hover span {
  transform: translateX(10px);
  transition: 0.3s;
}

.bg-blue {
  background-color: #F4F6FD;
  padding: 40px 30px;
}

.JobCard {
  max-width: 585px;
  min-height: 248px;
  background: #fff;
  padding: 35px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-purple p {
  margin: 0;
}
.btn-white p {
  margin: 0;
}
.btn-purple {
  background-color: #4038B0;
  width: 260px;
  display: flex;
  justify-items: center;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: 0.3s;
  height: 51px;
  /* margin-bottom: 20px; */
}

button {
  border: 0 !important;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.btn-purple span {
  margin-top: 4px;
  font-size: 20px;
  transition: all 0.19s ease-out;

}

.btn-purple:hover span {
  transform: translateX(10px);
}


.carousel .control-dots .dot {
  width: 14px !important;
  border-radius: 6px !important;
  height: 4px !important;
  margin: 0 4px !important;
}

.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
  width: 24px !important;
  border-radius: 6px !important;
  height: 4px !important;
}


blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.textCenter {
  text-align: center;
  margin: auto !important;
}

.textLeft {
  text-align: left;
  margin: 0 !important;
}

/* Columns CSS */
.twoColWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  margin: auto;
  max-width: 100%;
}

.colLeft {
  text-align: left;
  margin-left: 200px;
}

.carousel .thumbs-wrapper {
  margin: 0 !important;
}

/* Sections CSS */

.sectionHeader {
  max-width: 700px;
  margin: auto;
  margin-bottom: 35px;
  /* margin-top: 40px; */
}

.sectionWrap {
  width: 100%;
  margin: 40px 0;
}

.sectionName {
  position: relative;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 115.18%;
  color: #14113A;
  z-index: 9;
  width: fit-content;
  margin-left: 0px;
}

.sectionName p{
  border-bottom: 13px solid #d1cdff;
  height: 35px;
  width: 103%;
}

.sectionBorder {
  width: 105%;
  position: absolute;
  left: -3px;
  z-index: -1;
  bottom: -5px;
  margin: auto;
}

/* .sectionName::before {
  position: absolute;
  content: '';
  width: 140px;
  z-index: -1;
  bottom: 0;
  background: #D1CDFF;
  height: 10px;
} */

.ourValueTab {
  cursor: pointer;
  font-size: 1.1rem;
  display: flex;
  background-color: #F4F6FD;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 70px;
  border-radius: 4px;
  transition: all 0.3s;
}

.ourValueTab:hover {
  background-color: #4038B0;
  color: #fff;
}

.ourValueTabNew {
  cursor: pointer;
  font-size: 1.1rem;
  display: flex;
  background-color: #ffffff;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 70px;
  border-radius: 4px;
  transition: all 0.3s;
}

.ourValueTabNew span {
  font-size: 1.4rem;

}


.ourValueTab span {
  font-size: 1.4rem;
  display: flex;
}


.ourValueTabNew:hover {
  background-color: #4038B0;
  color: white;
}

.valueTabsActive {
  color: #fff;
  font-size: 1.1rem;
  display: flex;
  background-color: #4038B0;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 70px;
  border-radius: 4px;
}

.valueTabsActive span {
  transform: translateX(10px);
  transition: all 0.3s;
  font-size: 1.4rem;
  display: flex
}

.sectionTitle {
  font-weight: 600;
  font-size: 2.3rem;
  line-height: 1.1em;
  color: #070707;
  margin-bottom: 20px;
}

.blogContainer {
  display: grid;
  gap: 20px;
  margin: 0;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  margin-bottom: 40px;
  padding: 10px;
}

.bgNew {
  background-image: url('../public/Group\ 25.png');
  background-size: cover;
  background-position: bottom;
  height: 300px;
}

.contactus {
  width: 100%;
  height: 300px;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactusText {
  font-size: 2.6em;
}

.blogsArchive {
  margin: 40px 0;
}


@media (max-width: 1205px) {
  .container {
    margin: 15px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .twoColWrap {
    flex-direction: column;
  }

  .blogContainer {
    display: grid;
    gap: 10px;
    margin: 0;
    grid-template-columns: 1fr;
    height: auto;

  }

  .bg-blue {
    background-color: #F4F6FD;
    padding: 10px;
  }

  .container-carousel-sml {
    width: auto;
  }

  .sectionHeader {
    margin-top: 0;
  }

  .sectionWrap {
    padding-top: 30px;
  }

  .sectionTitle {
    font-size: 2rem;
  }


.container-carousel {
  margin: 5px;
}
}